<div class="row">
  <br>
  <div class="col-md-4">
    <%= image_tag("McLeod_Lisa_2013.jpg", class: "img-responsive") %>
  </div>

  <div class="col-md-8">
    <h1 class= "logotype"> IrisLink </h1>

    <h3> What is your Locus of Control? </h3>
      <p> We would like you to answer a few questions that may help us better
      understand how you think about and make decisons regarding your health.
      </p>
      <hr>
      <%=link_to "Start the Survey", new_survey_path, class: "btn btn-primary" %>
      <%=image_tag("survey_matters.png", class: "img-responsive") %>
      <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4> Dr. Lisa McLeod </h4>
    <p> Primary Care Physician, Children's Hospital of Denver </p>

  </div>
</div>
