<div class="page-header">
  <h2>List of Patients<h2>
</div>


<table class="table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @doctor.patients.each do |patient| %>
      <tr>
        <td><%= link_to "#{patient.full_name}", doctor_patient_path(@doctor, patient) %></td>
        <td><%= link_to "delete", doctor_patient_path(@doctor, patient), method: :delete, data: {confirm: "Are you sure?"} %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
