<h2> About the Survey </h2>

<div class="row">
  <div class= "col-md-10">
    <p>
      The Locus of Control is a 13 item questionnaire developed by Rotter (1966). It measures generalized expectancies for internal versus external control of reinforcement.People with an internal locus of control believe that their own actions determine the rewards that they obtain,
      while those with an external locus of control believe that their own behavior doesn't matter much and that rewards in life are generally outside of their control.
      Scores range from 0 to 13.  A low score indicates an internal control while a high score indicates external control.
    </p>
    <p>
      Behavioral scientists have long been interested in how an individual’s locus of control relates to coping and adjustment. Individuals who have an internal locus of control believe that a positive cause/effect relationship exists between their own behavior and the outcomes they experience.
      People having an external locus of control, on the other hand, perceive a lack of a relationship between their activities and consequent outcomes. In these individuals, outcomes may be perceived as controlled by sources external to oneself such as powerful others or by chance factors such as fate or luck."
    ￼￼￼￼</p>
    <p>
      Shared decision making (SDM) has been proposed as the ideal model of doctor–patient-communication. It implies that decisions on treatment are based on the provision of evidence-based information and a clarification of patient preferences. SDM has been characterised as a middle ground between the paternalism and informed choice.
      However, it is not clear whether the patient always wishes to be involved in decision making. The preference to participate in treatment decisions may be stronger in decisions which have substantial impact on health outcomes and are associated with clinical uncertainty regarding the best treatment [4]. The willingness of patients
      to participate in treatment decisions will potentially vary due to the different reasons of encounter.
    </p>
    <p>
      (1)"The relationship of locus of control to pain coping strategies and psychological distress in chronic pain patients
        -￼￼￼￼James E. Crisson and Francis J. Keefe, Department of Psychiatry Duke University Medical Center, Durham, NC
        (Received 16 December 1987, revision received 20 May 1988, accepted 23 May 1988)

      (2)"Impact of age, health locus of control and psychological co-morbidity on patients’ preferences for shared decision making in general practice
        -Antonius Schneidera,*, Thorsten Körner, Michael Mehring, Michel Wensing, Glyn Elwyn, Joachim Szecsenyi
        University of Heidelberg, Department of General Practice and Health Services Research, Heidelberg, Germany and Cardiff University, Centre for Health Services Research, Cardiff, UK
    </p>
  </div>
</div>
