

<h1>SCORING INSTRUCTIONS FOR THE MHLC SCALES</h1>

The score on each subscale is the sum of the values circled for each item on the subscale (i.e., where 1 = "strongly disagree" and 6 = "strongly agree").
No items need to be reversed before summing.
All of the subscales are independent of one another.  There is no such thing as a "total" MHLC score.

<div class="row">
  <div class="col-md-4">
    <%= image_tag("scoring.png", class: "img-responsive") %>
  </div>
</div>
